@import "tailwindcss";
@import "nativewind/theme";

@source "./app/**/*.{ts,tsx}";

@theme {
  --color-primary: #0a0f24;
  --color-background: #fdf8e8;
  
  --color-success: #4ade80;
  --color-blue-500: #4ade80;
  
  /* Supporting Colors */
  --color-secondary: #FF9001;  /* Accent Orange */
  --color-text: #161622;
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* --- Spacing & Border Radius --- */
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-3xl: 3rem;
  --radius-full: 9999px;

  /* --- NativeWind Specific: Elevation Scale --- */
  --elevation-0: 0;
  --elevation-xs: 1;
  --elevation-sm: 2;
  --elevation-md: 4;
  --elevation-lg: 8;
  --elevation-xl: 12;
  --elevation-2xl: 24;
}
